<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Gestion d'événements</title>
    <link rel="stylesheet" href="../public/css/style_admin.css">
</head>
<body>

    <div class="sidebar">
        
        <button class="menu-item">Devis</button>
        <button class="menu-item">Clients</button>
        <button class="menu-item">Prestataires</button>
        <button class="menu-item">Activités</button>

        <button class="return-button">Retour au site</button>
    </div>

    <div class="content">
        <div class="status-legend">
            <span><div class="status-circle validation"></div> En cours de validation</span>
            <span><div class="status-circle payment"></div> Attente de paiement</span>
            <span><div class="status-circle organized"></div> Organisé</span>
            <span><div class="status-circle modified"></div> Modification apportées</span>
        </div>

        <div class="scroll-container">
            <div class="events-container">
                <div class="event">
                    <div class="status payment"></div>
                    <button class="edit">✏️</button>
                    <p><strong>Anniversaire Julien</strong></p>
                    <p>Le 13 Juin 2023 à 10h</p>
                </div>

                <div class="event">
                    <div class="status payment"></div>
                    <button class="edit">✏️</button>
                    <p><strong>Bar Mitzvah Isaahia</strong></p>
                    <p>Le 2 Novembre 2023 à 22h</p>
                </div>

                <div class="event">
                    <div class="status validation"></div>
                    <button class="edit">✏️</button>
                    <p><strong>Fête cool</strong></p>
                    <p>Le 30 Février 2023 à 12h</p>
                </div>

                <div class="event">
                    <div class="status validation"></div>
                    <button class="edit">✏️</button>
                    <p><strong>Enterrement Papie</strong></p>
                    <p>Le 2 Mars 2026 à 19h</p>
                </div>

                <div class="event">
                    <div class="status organized"></div>
                    <button class="edit">✏️</button>
                    <p><strong>Fausse fête surprise</strong></p>
                    <p>Le 1er Avril 2023 à 9h</p>
                </div>

                <div class="event">
                    <div class="status organized"></div>
                    <button class="edit">✏️</button>
                    <p><strong>Mariage de Sophie</strong></p>
                    <p>Le 20 Août 2024 à 15h</p>
                </div>

                <div class="event">
                    <div class="status modified"></div>
                    <button class="edit">✏️</button>
                    <p><strong>Soirée Étudiante</strong></p>
                    <p>Le 14 Décembre 2025 à 20h</p>
                </div>

             

                
            </div>
        </div>
    </div>

</body>
</html>
