<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="./css/admin.css">
  <script src="script.js"></script>
</head>
<body>
    <div id="panelGauche">
        <button id="devisBouton">Devis</button>
        <button id="clientBouton">Client</button>
        <button id="devisBouton">Prestataire</button>
        <button id="activiteBouton">Activités</button>
    </div>
    <div id="panelDroit">

    </div>
    <div>
        <div id="activiteFormCadre" class="formulaire">
            <form id="activiteForm" action="http://localhost:3006/api/composant" method="POST">
                <h1>Ajouter une nouvelle activité :</h1>
                <label for="activiteNom">Nom de l'activite :</label>
                <input id="activiteNom" type="text" placeholder="Entrer un nom d'activite" name="nom" required>
                <br>
                <label for="activiteDescription">Description de l'activite</label>
                <input id="activiteDescription" type="text" placeholder="Entrer une description" name="desc" required>
                <br>
                <label for="activiteImage">Image de l'activite</label>
                <input id="activiteImage" type="url" placeholder="Entrer l'url d'une image" name="img" required>
                <br>
                <label for="activitePrix">Prix de l'activite</label>
                <input id="activitePrix" type="number" placeholder="Entrer un prix" name="prix" required>
                <br>
                <button id="annulerActivite" type="button">Annuler</button>
                <button id="ajouterActivite" type="submit">Ajouter</button> 
            </form>
        </div>
    </div>
    <script src="./script/admin.js"></script>
</body>
</html>