<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
</head>
<body>
    <div class="form" id="formLogin" >
        <form id="formConnexion" action="./api/compte/connexion" method="POST" class="form-container">
          <h1>Connectez-vous !</h1>
          <label><b>Email</b></label>
          <input id="emailConnexion" type="text" placeholder= "Mettez votre Email" name="email" required>
      
          <label><b>Mot de passe</b></label>
          <input id="mdpConnexion" type="password" placeholder="Mettez votre mot de passe" name="mdp" required>
      
          <button id="bouttonConnexion" type="submit" class="btn">Connexion</button>
        
        </form>
    </div>

    <div class="form" id="formCreate">
        <form action="./api/compte/creation" method="POST" class="form-container">
          <h1>Créez votre compte !</h1>
          <label><b>Nom</b></label>
          <input id="nomCreation" type="text" placeholder="Mettez votre nom" name="nom" required>

          <label><b>Prénom</b></label>
          <input id="prenomCreation" type="text" placeholder="Mettez votre prénom" name="prenom" required>

          <label><b>Email</b></label>
          <input id="mailCreation" type="text" placeholder="Mettez votre Email" name="email" required>
      
          <label><b>Mot de passe</b></label>
          <input id="mdpCreation" type="password" placeholder="Mettez votre mot de passe" name="mdp" required>

          <label><b>Confirmez votre mot de passe</b></label>
          <input id="bouttonCreation" type="password" placeholder="Confirmez votre mot de passe" name="mdp2" required>
          
          <label><b>Choisissez votre situation</b></label>
          <select name="choixSituation" id="situation" required>
            <option value="client">Client</option>
            <option value="prestataire">Prestataire</option>
          </select>

          <button type="submit" class="btn">Créer un compte</button>
        </form> 
    </div>
    <button type="button" class="btn" id="btnToggle" onclick="showForm()">Vous n'avez pas de compte ?</button>
    <button type="button" class="btn" id="btnIndex" onclick="window.location.href='/'">Retourner à la page principale</button>
    <script src="./script/gestion_connexion.js"></script>
</body>
</html>