<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evenements</title>
    <link rel="stylesheet" href="./css/event.css">
</head>
<body>
    <div id="boutons_haut">
    <button type="button" class="button" id="boutonMesEvent">Retourner vers vos évènements</button>
    <button id="sauvegarder" class="button">Sauvegarder</button>
    <button id="devis" class="button" style="display: none;">Demander un devis</button>
    <br>
    </div>
    
    
    <div id="zone_ajout">
        <br>
        <button id="ajouter" class="plus">
            <img src="img/croix.png"></img></button>
        <br>
        <div id="panier" class="sidescroller"> 
        </div>
    </div>

    <br>
    <div id="popupActivites" class="popup">
        <button id="fermerPopup" class="button">Fermer</button>
        <div id="scroller">
        </div>
    </div>

    <div id="popupNomDate" class="popup">
        <form id="formNomDate">
            <h1>Votre évènement doit avoir un titre et une date :</h1>
            <input id="nomEvenement" type="text" placeholder="Donnez un titre à votre évènement" required>
            <br>
            <input id="dateEvenement" type="date" required>
            <br>
            <button id="fermerPopupNomDate" class="button">Fermer</button>
            <button id="sauvegarderPopupNomDate" class="button" type="submit">Sauvegarder</button>
        </form>
    </div>

    <div id="popupDevis" class="popup">
        <form id="formDevis">
            <h1>Vous pouvez modifier le nom et la date de l'évènement pour l'envoi du devis.</h1>
            <h3>Envoyer un devis va permettre de vérifier la disponibilité des prestataires.
                Tant que vous n'avez pas reçu de mail de confirmation, vous avez tout à fait le droit de venir modifier votre évènement.
            </h2>
            <input id="nomDevis" type="text" placeholder="Choisissez un titre final à votre Évènement" required>
            <br>
            <input id="dateDevis" type="date" required>
            <br>
            <button id="fermerPopupDevis" class="button">Fermer</button>
            <button id="sauvegarderPopupDevis" class="button" type="submit">Demander un devis</button>
        </form>
    </div>

    <div id="popupErreur" class="popup">
        <h1 id="messageErreur">Attention, vous allez partir sans sauvegarder vos modifications !</h1>
        <button class="button" id="fermerErreur">Fermer</button>
        <button class="button" id="validerErreur" onclick="window.location.href='./mes-event'">Voir mes event</button>
    </div>

    <div id="popupParametresActivites" class="popup">
        <h1 id="titreParams"></h1>
        <img id="imageParams" src="" alt="">
        <h2 id="descriptionParams">Yo</h2>
        <h2 id="quelleQuantite">Vous en voulez quelle quantité : </h2>
        <input id="quantiteParams" type="number" min="0">
        <br>
        <h2 id="prixParams">0 €</h2>
        <button id="annulerParams" class="button">Annuler</button>
        <button id="validerParams" class="button">Valider</button>
        <button id="modifierParams" class="button" style="display: none;">Modifier</button>
        
    </div>

    <h1 id="prixTotal">Prix estimé : 0€</h1>
    <script src="./script/event.js"></script>
</body>
</html>