<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvenMove</title>
    <link rel="stylesheet" href="./css/index.css">
    
    <style>
        .section {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="section" id="section1">
        <div id="main_1" class="bg_white">
            <div id="main_1_left">
                <div id="main_1_left_title">
                    <div id="main_1_left_title_logo">
                        <img src="img/Logo.png"/>
                    </div>
                    <div id="main_1_left_title_text">
                        <span> EvenMove </span>
                    </div>
                </div>
                <div id="main_1_left_bar"></div>
                <div id="main_1_left_question">
                    <ul>
                        <li><span> Marriage ? </span></li>
                        <li><span> Anniversaire ? </span></li>
                        <li><span> Bar-mitsvah ?</span></li>
                        <li><span> Enterrement ? </span></li>
                    </ul>
                </div>
                <div id="main_1_left_name">
                    <span> EvenMove </span>
                </div>
                <div id="main_1_left_slogan">
                    <span> Votre imagination, notre réalisation </span>
                </div>
            </div>
            <div id="main_1_right">
                <div id="main_1_right_image">
                    <img src="img/Decor.jpg">
                </div>
            </div>
        </div>
    </div>
    
    <div class="section" id="section2">
        <div id="main_2">
            <div id="main_2_gauche">
                <h2>Pourquoi EvenMove ?</h2>
                <div id="main_2_barres"></div>
                <ul>
                    <li>
                        <p><strong>Flexibilité totale :</strong>  Créez votre évènement comment vous l'imaginez, sans payer pour ce dont vous n'avez pas besoin.</p> 
                    </li>
                    <li>
                        <p><strong>Des prestations variées :</strong>  Mariages, anniversaires, bar-mitsvahs, enterrements de vie de célibataire et bien plus encore.</p>
                    </li>
                    <li>
                        <p><strong>Qualité au meilleur prix :</strong> Une expérience inoubliable, accessible à tous.</p>
                    </li>
                    <li>
                        <p><strong>Service clé en main :</strong> Vous choisissez, nous réalisons, vous profitez.</p>
                    </li>
                </ul>
            </div>
            <div id="main_2_barre_centre"></div>
            <div id="main_2_droite">
                <h2>Exemple d'utilisation :</h2>
                <div id="main_2_barres"></div>
                <div>
                    <img class="main_2_image_haut_droite" src="img/image1.jpg"/>
                </div>
                <p id="main_2_text_utilisation"><strong>Justin</strong> veut prouver à ses amis qu'il sait être <span class="souligner">fun</span>. Il vient sur notre site pour organiser un <span class="souligner">anniversaire disco</span>. Il va pleuvoir de façon modulaire et arbitraire!</p>
                <div id="main_2_img_droite">
                    <div>
                        <div><p><strong>Des DJ</strong> </p></div>
                        <div><img class="main_2_images_droite" src="img/image2.jpg"/></div>
                    </div>
                    <div>
                        <div><p><strong>Des tables</strong></p></div>
                        <div><img class="main_2_images_droite" src="img/image3.jpg" /></div>
                    </div>
                    <div>
                        <div><p><strong>Des activités cools</strong></p></div>
                        <div><img class="main_2_images_droite" src="img/image4.jpg"/></div>
                    </div>
                    <div>
                        <div><p><strong>Des figurants</strong></p></div>
                        <div><img class="main_2_images_droite" src="img/image5.jpg"/></div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    
    <div class="section" id="section3">
        <div class="main3">
            <h1 class="titre3">L'avis de nos clients : </h1>
            <hr class="limit" color="#faa6de">
            <div class="bloc3">
                <div>
                    <p class="nom">Antoinette Bourbon</p>
                    <img class="image" src="img/ai.jpg" alt="Antoinette Bourbon"/>
                    <div class="stars">★★★★★</div>
                    <p class="review3">Incroyable ! Mon mari allait perdre la tête à cause de l'organisation de notre mariage. Mais grâce à vous, mes invités ont pu manger de la brioche en toute sérénité.</p>
                </div>
                <div>
                    <p class="nom">Titouan Kamon</p>
                    <img class="image" src="img/egyptien.jpg" alt="Titouan Kamon"/>
                    <div class="stars">★★★★★</div>
                    <p class="review3">Vous vous êtes même occupé de l'embaumement de mon papi. Le meilleur enterrement auquel j'ai assisté de toute ma vie !</p>
                </div>
                <div>
                    <p class="nom">François Peppa</p>
                    <img class="image" src="img/pape.jpg" alt="François Peppa"/>
                    <div class="stars">★★★★★</div>
                    <p class="review3">Le prêtre avait un peu trop bu. La preuve d'un évènement de qualité !</p>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="section" id="section4">    
        <div id="main4">
            <img id="mariage" src="img/mariage.png"></img>
            <div id="zoneTexte4">
                <h1 id="titre4"><strong>Vous voulez sauter le pas ?</strong></h1>
                <div id="main_4_barre"></div>
                
                <p id="texte4">Alors, convaincu par nos services ?</br> Commencez dès maintenant à organiser votre </br> évènement en cliquant sur le bouton ci dessous !</p>
                
                <button id="boutton4">Créer mon évènement</button>
                
            </div>
    </div>
    
    </div>
    <div class="section" id="section5">
        <div id="main5">
        <div id="gauche5">
            <div id="logo5">
                <img src="img/Logo.png"/>
                <h1>EvenMove</h1>
            </div>
            
            <div id="contact5">
            <h2 id="texte5">Contact</h2>
            <h3>Besoin d'aide ? Contactez-nous :</h3>
        </div>
            <div id="tel5"><h2 id="texte5">Téléphone</h2>
            <h3>01 23 45 67 89</h3></div>
            <div id="mail5"><h2 id="texte5">E-mail</h2>
            <h3>entreprisetropcool@gmail.com</h3></div>
        </div>
        <div id="barre_milieu_5"></div>

        <div id="droite5">
            <h1 id="titre5_2" class="souligner">Vous souhaitez devenir prestataire ?</h1>
            <p>Vous voulez proposer vos services en tant que prestataire chez EvenMove ? </br> Rejoignez notre programme de prestataire. </br> C'est facile, vous avez juste à cliquer sur ce bouton :</p>
            <button id="boutton5">Devenir prestataire</button>
        </div>
    </div>
</div>
</div>
    <script src="./script/index.js">
    </script>
</body>
</html>
