<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvenMove</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    
    <article id="art1" class="row">

        <section id="art1sec1" class="column">
            <div id="art1sec1div1" class="row">
                <img src="./img/Logo.png" alt="Entreprise">
                <span class="purple">EvenMove</span>
            </div>
            <hr class="purple">
            <div id="art1sec1div2">
                <ul>
                    <li><span class="purple">Mariage ?</span></li>
                    <li><span class="purple">Anniversaire ?</span></li>
                    <li><span class="purple">Bar-mitsvah ?</span></li>
                    <li><span class="purple">Enterrement ?</span></li>
                </ul>
            </div>
            <div id="art1sec1div3" class="column">
                <span class="bold pink" >EvenMove</span>
                <span class="pink">Votre imagination, notre réalisation.</span>
            </div>
        </section>

        <section id="art1sec2">
            <img src="img/Decor.jpg"/>
        </section>

    </article>

    <article id="art2" class="row">

        <section id="art2sec1" class="column white">
            <div id="art2sec1div1">
                <span class="bold">Pourquoi EvenMove ?</span>
            </div>
            <hr class="white">
            <div id="art2sec1div2">
                <ul>
                    <li>
                        <p><span class="bold">Flexibilité totale :</span>  Créez votre évènement comment vous l'imaginez, sans payer pour ce dont vous n'avez pas besoin.</p> 
                    </li>
                    <li>
                        <p><span class="bold">Des prestations variées :</span>  Mariages, anniversaires, bar-mitsvahs, enterrements de vie de célibataire et bien plus encore.</p>
                    </li>
                    <li>
                        <p><span class="bold">Qualité au meilleur prix :</span> Une expérience inoubliable, accessible à tous.</p>
                    </li>
                    <li>
                        <p><span class="bold">Service clé en main :</span> Vous choisissez, nous réalisons, vous profitez.</p>
                    </li>
                </ul>
            </div>
        </section>

        <div id="art2bar"></div>

        <section id="art2sec2" class="white">
            <div id="art2sec2div1">
                <span class="bold underline">Exemple d'utilisation :</span>
            </div>
            <div id="art2sec2div2" class="row">
                <img src="./img/image1.jpg">
                <p><span class="bold">Justin</span> veut prouver à ses amis qu'il sait être <span class="underline">fun</span>. Il vient sur notre site pour organiser un <span class="underline">anniversaire disco</span>. Il va pouvoir de façon modulaire et arbitraire choisir par example :</p></p>
            </div>
            <div id="art2sec2div3" class="grid">
                <div class="row">
                    <p><span class="bold">Des DJ</span></p>
                    <img src="./img/image2.jpg">
                </div>
                <div class="row">
                    <p><span class="bold">Des animations</span></p>
                    <img src="./img/image3.jpg">
                </div>
                <div class="row">
                    <p><span class="bold">Des décorations</span></p>
                    <img src="./img/image4.jpg">
                </div>
                <div class="row">
                    <p><span class="bold">Des figurants</span></p>
                    <img src="./img/image5.jpg">
                </div>
            </div>
        </section>

    </article>

    <article id="art3" class="column white">

        <section id="art3sec1">
            <span class="bold">L'avis de nos clients</span>
        </section>

        <hr class="pastel">

        <section id="art3sec2" class="row">
            <div id="art3sec2div1" class="column">
                <span class="bold">Antoinette Bourbon</span>
                <img src="img/ai.jpg" alt="Antoinette Bourbon"/>
                <span class="stars">★★★★★</span>
                <p class="review3">Incroyable ! Mon mari allait perdre la tête à cause de l'organisation de notre mariage. Mais grâce à vous, mes invités ont pu manger de la brioche en toute sérénité.</p>
            </div>
            <div id="art3sec2div2" class="column">
                <span class="bold">Titouan Kamon</span>
                <img src="img/egyptien.jpg" alt="Titouan Kamon"/>
                <span class="stars">★★★★★</span>
                <p>Vous vous êtes même occupé de l'embaumement de mon papi. Le meilleur enterrement auquel j'ai assisté de toute ma vie !</p>
            </div>
            <div id="art3sec2div3" class="column">
                <span class="bold">François Peppa</span>
                <img src="img/pape.jpg" alt="François Peppa"/>
                <span class="stars">★★★★★</span>
                <p>Le prêtre avait un peu trop bu. La preuve d'un évènement de qualité !</p>
            </div>
        </section>

    </article>

</body>