<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvenMove</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    
    <article id="art1" class="row">

        <section id="art1sec1" class="column">

            <div id="art1sec1div1" class="row">
                <img src="./img/Logo.png" alt="Entreprise">
                <span>EvenMove</span>
            </div>
            <hr>
            <div id="art1sec1div2">
                <ul>
                    <li><span class="purple">Mariage ?</span></li>
                    <li><span class="purple">Anniversaire ?</span></li>
                    <li><span class="purple">Bar-mitsvah ?</span></li>
                    <li><span class="purple">Enterrement ?</span></li>
                </ul>
            </div>
            <div id="art1sec1div3" class="column">
                <span class="bold pink" >EvenMove</span>
                <span class="pink">Votre imagination, notre réalisation.</span>
            </div>

        </section>
        

        <section id="art1sec2">
            <img src="img/Decor.jpg"/>
        </section>

    </article>

</body>