<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes event</title>
    <link rel="stylesheet" href="./css/mes_event.css">
</head>
<body>

    <header>
        <div id="hl">
            <h1>Vos Évènements</h1>
        </div>
        <div id="hr">
            <h1 id="titre">Bienvenue XXX</h1>
            <button id="deconnexion">Deconnexion</button>
        </div>
 
    </header>
    
    <article> 
        <button id="newEvent">Nouvel Evenement</button>
        <div id="conteneur"></div>
    </article>
    
    <script src="./script/mes_event.js"></script>
</body>
</html>