<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prestataire</title>
    <link rel="stylesheet" href="./css/prestataire.css">
    <link rel="stylesheet" href="./css/calendrier.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"> 
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 
</head>
<body>
    <div id="boutons_haut">
    <img id="agenda" src="./img/agenda.png" alt="">
    <button id="conges" class="button">Poser des congés</button>
    <button id="sauvegarder" class="button">Sauvegarder</button>
    <button id="deconnexion" class="button">Deconnexion</button>
    <br>
    </div>
    
    
    <div id="zone_ajout">
        <br>
        <button id="ajouter" class="plus">
            <img src="img/croix.png"></img></button>
        <br>
        <div id="panier" class="sidescroller"> 
        </div>
    </div>

    <br>
    <div id="popupActivites" class="popup">
        <button id="fermerPopup" class="button">Fermer</button>
        <div id="scroller">
        </div>
    </div>

    <div id="popupErreur" class="popup">
        <h1 id="messageErreur">Vos propositions on été enregistrées ! Guettez vos mails pour savoir à quels Évènements vous participerez !</h1>
        <button class="button" id="fermerErreur">Fermer</button>
    </div>

    <div id="popupErreurConges" class="popup">
        <h1 id="messageErreurConges">Vos périodes de congés on été enregistrées ! Guettez vos mails pour savoir à quels Évènements vous participerez !</h1>
        <button class="button" id="fermerErreurConges">Fermer</button>
    </div>

    <div id="popupConges" class="popup">
        <form id="formConges">
            <h1>Dites nous à quel moment vous êtes absents !</h1>
            <input id="date1" type="date" required name="date1">
            <input id="date2" type="date" required name="date2">
            <br>
            <button class="button" id="fermerConges" type="button">Fermer</button>
            <button class="button" id="sauvegarderConges" type="submit">Sauvegarder</button>
        </form>
    </div>

    <div id="popupAgenda" class="popup">
        <div id="contenuAgenda"></div>
        <button id="fermerAgenda" class="button">Fermer</button>
    </div>

    <div id="popupInfos" class="popup">
        <div id="contenuInfos"></div>
        <button class="button" id="fermerInfos" class="button">Fermer</button>
    </div>   



    <div id="popupParametresActivites" class="popup">
        <h1 id="titreParams"></h1>
        <img id="imageParams" src="" alt="">
        <h2 id="descriptionParams">Yo</h2>
        <h2 id="quelleQuantite">Vous pouvez en fournir combien ?</h2>
        <input id="quantiteParams" type="number" min="0">

        <h2 id="quelleQuantite">Quel sera le prix unitaire ?</h2>
        <input id="prixParams" type="number" min="0">
        <h2 style="display: inline-block;">€</h2>
        <br>
        <button id="annulerParams" class="button">Annuler</button>
        <button id="validerParams" class="button">Valider</button>
        <button id="modifierParams" class="button" style="display: none;">Modifier</button>
        
    </div>

    <script type="module" src="./script/prestataire.js"></script>
    <script type="module" src="./script/prestataireCalendrier.js"></script>
</body>
</html>