<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/event.css">
</head>
<body>
    <input type="text" placeholder="Donnez un titre à votre évènement">
    <button id="sauvegarder">Sauvegarder</button>
    <button id="devis">Demander un devis</button>
    <br>
    <button id="ajouter">Ajouter un composant</button>
    <div id="conteneur" class="sidescroller">
        <div class="enfant">Enfant 1</div>
        <div class="enfant">Enfant 2</div>
        <div class="enfant">Enfant 3</div>
        <div class="enfant">Enfant 4</div>
        <div class="enfant">Enfant 5</div>
        <div class="enfant">Enfant 6</div>
        <div class="enfant">Enfant 7</div>
        <div class="enfant">Enfant 8</div>
        <div class="enfant">Enfant 8</div>
        <div class="enfant">Enfant 8</div>
        <div class="enfant">Enfant 8</div>
        <div class="enfant">Enfant 8</div>     
      </div>
    <br>
    <p id="prix_total">Prix estimé : 0€</p>
    <div id="popupActivites" class="popup">
        <div id="scroller">
        </div>
    </div>
    <div id="popupParametresActivites" class="popup">
        <h1 id="titreParams"></h1>
        <img id="imageParams" src="" alt="">
        <h2 id="descriptionParams">Yo</h2>
        <h2 id="quelleQuantite">Vous en voulez quelle quantité : </h2>
        <input id="quantiteParams" type="number">
        <br>
        <h2 id="prixParams">0 €</h2>
        <button id="validerParams">Valider</button>
        <button id="annulerParams">Annuler</button>
    </div>
    <script src="./script/event.js"></script>
</body>
</html>