.sidescroller {
    display: flex;           
    overflow-x: auto;          
    white-space: nowrap;      
    max-width: 100%;     
    border: 1px solid #ccc;    
    padding: 10px;
  }
  
  .article {
    flex-shrink: 0;               
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    height: 200px;
    text-align: center;
  }

#popupActivites{
    height: 50%;
    width: 50%;
    border-color: red;
}


.popup{
    background-color: pink;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
    
    border-width: 5px;
    border-style:solid;

    opacity: 0;
    pointer-events: none;
}

.montrer{
    opacity: 1;
    pointer-events: auto;
    transition-duration: 500ms;
}

#scroller {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

.activite {
    all: unset;
    width: 175px;
    height: 175px;
    margin: 10px;

    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    transition-duration: 300ms;
}

.activite:hover {

    border-color: black;
    transition-duration: 500ms;
}

.imageActivite {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Params */

#popupParametresActivites{
    height: 70%;
    width: 40%;
    border-color: blue;
    text-align: center;
}

#imageParams{
    height: 150px;
    width: 150px;
    margin-left: auto;
}

/* Panier */

.imagePanier{
    height: 100px;
    aspect-ratio: 1 / 1;
}

.titrePanier{
    font-size: medium;
}

.textePanier{
    font-size: small;
}