/* 
    General
*/

* {
    font-family: 'Arial', sans-serif;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

article {
    aspect-ratio: 16 / 9;
    width: 100%;
}

li {
    list-style: none;
}

.gradient {
    background: linear-gradient(45deg, #EC4899, #8B5CF6);
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.purple {
    color: #8B5CF6
}

.pink {
    color: #EC4899
}

.bold {
    font-weight: bold;
}



/*
    Article 1
*/

#art1 section {
    width: 50%;
}

/* Section 1 */

#art1sec1 {
    align-items: center;
    text-align: center;
}

#art1sec1div1 {
    align-items: center;
    height: 5%;
    margin-top: 5%;
}

#art1sec1div1 img {
    width: 2rem;
    height:auto;
    margin-right: 1rem;
}

#art1sec1 hr {
    width: 80%;
    border: 1px solid #8B5CF6;
    margin: 10px 0;
}

#art1sec1div2 {
    align-items: center;
    height: 50%;
    margin-top: 10%;
}

#art1sec1div2 li span {
    font-size: 4rem;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}

#art1sec1div3 {
    align-items: center;
    height: 20%;
    margin-top: 10%;
}

#art1sec1div3 span:nth-child(1) {
    font-size: 3rem;
}

/* Section 2 */

#art1sec2 img {
    height: 100%;
    width: 100%;
}



/*
    Article 2
*/

#art2 {
    padding: 5%;
}