#section4{
    background-color: #ffeaed;
    
}

#main4{
    display: flex;
    flex-direction: row;
}

#gauche5{
    display: flex;
    flex-direction: row;
    gap: 10%;
}



#mariage{
    height: 1000px;
    width: auto;
}


#zoneTexte4{
    margin-top: 50px;
    text-align: center;
    flex:2;
    display: flex;
    flex-direction: column;
    padding: 100px;
    
}

#titre4{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 400;
}

#texte4{
    margin-top : 50px;
    text-align: center;
    color: rgb(255, 117, 140);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 100px;
    
}

#boutton4{
    
    all:unset;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 50px;
    background-color: blueviolet;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.01rem;
    transition-duration: 100ms;
}

#boutton4:hover{
    letter-spacing: 0.1rem;
    transition-duration: 100ms;
    background-color: rgb(92, 31, 150);
    cursor: pointer;
}

#boutton4:active{
background-color: rgb(52, 14, 88);
}
#main_4_barre {
    height:5px;
    background-color:blueviolet;
    width: 42em;
    text-align: center;
    margin-bottom: 15px;
    }

