* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, #6058e0, #e0629d);
    color: white;
    font-size: 18px; 
}

.sidebar {
    width: 250px;
    background: #4b1db2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    width: 100%;
    padding: 15px;
    background: #6a33d4;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
    font-size: 20px; 
}

.menu-item:hover {
    background: #7e3ff2;
}

.return-button {
    padding: 12px;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.return-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.status-legend {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    font-size: 18px;
}

.status-legend span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.status-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
}

.validation { background: orange; }
.payment { background: yellow; }
.organized { background: green; }
.modified { background: red; }

.scroll-container {
    flex: 1;
    overflow-y: auto;
    max-height: 75vh;
    padding-right: 10px;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 35px; 
}

.event {
    background: #4b1db2;
    padding: 20px; 
    border-radius: 12px;
    position: relative;
    font-size: 20px; 
    line-height: 1.4;
    min-height: 120px; 
}

.event p {
    margin: 10px;
    
}

.status {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.edit {
    position: absolute;
    background: #4b1db2;    
    border: none;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 22px;
}


.scroll-container::-webkit-scrollbar {
    width: 10px; 
}

.scroll-container::-webkit-scrollbar-track {
    background: #4b1db2; 
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #e0629d; 
    border-radius: 10px;
    border: 2px solid #4b1db2; 
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #ff7eb3; 
}