.bloc3 {
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

#section3 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-color: #8b73ff;
}

.main3{
    max-width: 100%;
    max-height: 100%;
}
.limit{
    margin-left: 100px;
    margin-right: 100px;
    
}

.review3{
    max-width: 230px;
    word-wrap: break-word;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.titre3{
    background-color: #8b73ff;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 50px;
}

.stars{
    color: yellow;
    font-size: 50px;
    text-align: center;
}

.nonaffiche{
    visibility: hidden;

}

.nom{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.image{
    border-radius: 10px;
}